.rounded-image {
    border-radius: 15px; /* Adjust the radius as needed */
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    margin: 150px;
}
.headshot1{
    max-width: 300px;
}

.black-section{
    display: flex;
    justify-content: center;
    background-color: rgb(34, 34, 36);
    height: 100vh;
}

.bio-info{
    display: flex; /* Add this line */
    flex-direction: column; /* To stack h1 and p vertically */
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 100px;
}

.bio-info h1{
    font-size: 42px;
}

.bio-info p{
    font-size: 24px;
}

.introduction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.intro-header{
    font-size: 50px;
}

.intro-header-2{
    font-size: 130px;
}

.intro-box-1{
    margin-left: 200px;
    margin-bottom: 0;
}

.intro-box-2{
    margin: 200px;
    margin-top: 0;
}

.particle-canvas {
    position: absolute;
    z-index: 999;
}
