.navbar {
  background-color: transparent;
  z-index: 9999;
  width: 100%;
  display: flex;
}

.nav-area {
  padding-top: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: auto;
  height: 80px;
  overflow: visible;
  white-space: nowrap;
  z-index: 9999;
}

.logo a {
  margin-left: 6rem;
}

#name-logo {
  width: 230px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: auto;
}

.navbar-item {
  padding: 0 25px;
}

.navbar-title {
  text-decoration: none;
  font-size: 20px;
}

.navbar-link {
  display: inline;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.navbar-title {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out; /* Add transition for color property */
}

.navbar-title:hover {
  color: grey;
}

.mobile-menu-icon {
  display: none; /* Initially hide the hamburger icon */
  cursor: pointer;
  font-size: 24px;
  color: black; /* Adjust the color as needed */
  margin-left: auto;
  margin-right: 50px;
}

@media (max-width: 1100px) {
  .navbar-menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgb(34, 34, 36);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 100px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
  }

  .navbar-title {
    color: rgb(231, 231, 231);;
  }

  .mobile-menu-open {
    display: flex;
    transform: translateX(0%);
  }

  .white-icon svg{
    color: rgb(231, 231, 231);
  }

  .navbar-item {
    padding: 15px;
  }

  .mobile-menu-icon {
    position: absolute;
    cursor: pointer;
    color: black;
    display: block;
    z-index: 9999;
    right: 0;
  }

  #name-logo {
    width: 200px;
  }
}

@media (max-width: 450px) {
  .logo a {
    margin-left: 2rem;
  }
}