*{
    margin: 0;
    padding: 0;
    font-family: 'Bayon', sans-serif;
}

body{
    background-color: rgb(247, 242, 233);
    margin: 0;
    overflow-x: hidden;
}

.lato{
    font-family: 'Lato', sans-serif;
}

.top-spacer{
    margin-top: 100px;
}

.center{
    text-align: center;
}